.date {
	display: flex;
}
.date img {
	position: relative;
}
.react-datepicker {
	width: 95% !important;
}
.react-datepicker__month {
	width: 11% !important;
}

.react-datepicker__day-names {
	width: 12% !important;
}

.react-datepicker__input-container:focus {
	outline: none !important ;
	border: none !important;
}

.react-datepicker-ignore-onclickoutside {
	border: none !important;
	outline: none !important ;
}
.react-datepicker-ignore-onclickoutside:focus {
	border: none !important;
	outline: none !important ;
}

#dateStartEnd {
	border: none !important;
}
.react-datepicker__triangle {
	transform: translate(185px, 0px) !important;
}
